* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #212427;
  line-height: 1.2;
  padding-left: 5px;
}

/* Left section */

.left__section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.left__section--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 500px;
}

.left__section--logo-background {
  position: absolute;
  background-color: #ccc;
  height: 120px;
  width: 100%;
  top: 150px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.left__section--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.logo {
  height: 100px;
  margin-right: 30px;
  margin-left: 30px;
  min-width: 75px;
}

.logo-header {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2.5px;
  overflow-x: hidden;
}

footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  margin-left: 25%;
  color: #ccc;
  font-size: 0.9rem;
}

footer a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Right section */
.right__section {
  height: 100%;
  width: 100%;
  background-color: rgb(241, 246, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper__section {
  margin-left: 40px;
  margin-right: 200px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}

.upper__text {
  margin-bottom: 20px;
}

.middle__section {
  background-color: #fff;
  height: 300px;
  width: 100%;
  margin-bottom: 35px;
  border: none;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
}

.middle__section p {
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.form_layout {
  display: flex;
  justify-content: space-between;
  margin-right: 250px;
  margin-left: 40px;
}

.left-form {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.left-form input,
.right-form input {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}

.right-form {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.bottom__section {
  margin-left: 40px;
}

.bottom__section a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}

.createAccount {
  background-color: #596d48;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 35px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s;
  outline: none;
}

.createAccount:active {
  transform: scale(0.96);
  background-color: #596d48;
}

label {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #55553a;
  letter-spacing: 1.4px;
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  border: solid #e5e7eb;
  border-radius: 4px;
  padding: 0 7px;
  font-size: 1rem;
  outline: none;
  letter-spacing: 1.4px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='password'] {
  letter-spacing: 3px;
}

input[type='password']:invalid {
  border: solid red;
}

input:focus {
  border: solid rgb(185, 206, 234);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}
